* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1 {
  padding-top: 30px;
  text-align: center;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
  padding : 30px;
}
.form-container{
  text-align: center;
  width : 100%;
  
}

form {
  width : 50%;
  padding-top : 10px;  
  text-align: left;
  display : inline-block;
}

input[type=text], input[type=number],input[type=password], input[type=email], input[type=number]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


/* navigation */

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666
}

li {
  float: right;
}

li.text {
  float : left;
}

li a,p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.error {
  color: darkred;
}

li a:hover {
  background-color: #111;
}

@media screen and (max-width: 300px) {

}