* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;

}
.form-container{
  text-align: center;
  width : 100%;
  
}

form {
  width : 50%;
  padding-top : 10%;  
  text-align: left;
  display : inline-block;
}

input[type=text], input[type=number], input[type=email], input[type=number]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


@media screen and (max-width: 300px) {

}